<div (keydown.enter)="newIngredients()">
  <h3>Search for recipes with the following ingredients</h3>
  <input [(ngModel)]="inputField" placeholder="Ingredients">
  <button (click)="newIngredients()">Search</button>
</div>

<h2>My Recipes</h2> {{ ingredients }}
<ul class="heroes">
  <li *ngFor="let recipe of recipes" [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)">
    <span class="badge">{{ recipe.rating }}</span> {{ recipe.recipeName }}
  </li>
</ul>

<app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail>