<h2>My Recipes</h2>

<ul class="heroes">
  <li *ngFor="let recipe of recipes" [class.selected]="recipe === selectedRecipe" (click)="onSelect(recipe)">
    <span class="badge">{{ recipe.rating }}</span> {{ recipe.recipeName }}
  </li>
</ul>

<div *ngIf="selectedRecipe">

  <h2>{{ selectedRecipe.name | uppercase }} Details</h2>
  <div><span>ID: </span>{{selectedRecipe.recipeID}}</div>
  <div><span>Rating: </span>{{selectedRecipe.rating}}</div>
  <div><span>Needed Ingredients: </span>{{selectedRecipe.ingNeed}}</div>
</div>